:root {
    --text-color: #333;
    --text-sub-color: #292929;
    --white-color: #fff;
    --black-color: #000;
    --add-icon-color: #1473e6;
    --success-color: #5db85c;
    --course-header-color: #b5f1f4;
    --primary-color: #f1582c;
    --heart-color: #e81224;
    --header-course: #b5f1f4;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.grid__column {
    margin-right: 24px;
    width: 320px;
}

.grid__column-3 {
    margin-bottom: 40px;
    padding-right: 24px;
    width: 25%;
}